transformers==4.33.0
torch==2.1.0
pandas==1.5.3
fastapi==0.95.0
uvicorn==0.22.0
langchain==0.0.163
chromadb==0.3.19
olefile==0.46
langchain_text_splitters==0.0.8
langchain_chroma==0.0.4
langchain_huggingface==0.0.3
accelerate>=0.26.0
tiktoken==0.3.2